.note {
	position: absolute;
	bottom: 0; 
}
.column{
	display: inline-block;
}

.right{
	position: absolute;
}

.post{
	height: 150px;
	border: 3px solid black;
	padding: 3px;
	margin: 10px;
	border-style: solid;
	position: relative;
	left: -10px;
}

.box{
	border:3px solid gray;
	width:56px;
	height:56px;
	position:absolute;
	top: 3px;
	right: 5px;
}

.box:before{
	content:"";
	position:absolute;
	border-top:2px solid black;
	width:80px;
	transform: rotate(45deg);
	transform-origin: 0% 0%;
}

.box:after{
	content:"";
	position:absolute;
	border-top:2px solid black;
	width:80px;
	transform: translateX(56px) rotate(135deg) ;
	transform-origin: 0% 0%;
}
